.Cards {
  display: flex;
  gap: 20px;
  row-gap: 20px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.parentContainer{
  width: 23%;
}

@media screen and (max-width: 1200px) {
  .Cards{
    /* flex-direction: column; */
    justify-content: center !important;
  }
  .parentContainer{
    height: 9rem;
    width: auto;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
    flex-direction: column;
    justify-content: center !important;
  }

  .parentContainer{
    width: 100%;
    /* display: flex; */
  }
}


